:root {
    --background: #3d474d;
    --font: #222;
    --border: #333;
    --screen: #eee;
    --calculator: #d5d5b5; 
    --calculator-background: #3d474d;

    --btn-white: #ffff; 
    --btn-white-hover: #cecbcb; 

    --btn-grey: #e9e9ed;
    --btn-grey-hover: #d0d0d7;


    /* --btn-hover: #ddd; */
    --btn-orange: #ffa455;
    --btn-orange-hover: #b8763c;

    --btn-blue: #aaf;
    --btn-blue-hover: #99e;

    --btn-red: #faa;
    --btn-red-hover: #e99;
  }
  

  
  html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
  
  body {
    background-color: var(--background);
    /* color: var(--font); */
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
  }
  
  
  /* MAIN */
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px; 
    margin-top: 50px;
  }
  
  .calculator {
    width: 500px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
    box-shadow: 10px 10px;
  }
  
  .screen {
    padding: 10px 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .screen-last {
    /* min-height: 32px;
    font-size: 20px; */
  }
  
  .screen-current {
    /* min-height: 64px;
    font-size: 40px; */
  }
  
  .buttons-grid {
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: var(--calculator-background);
  }

  button {
    /* border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none; */
  }
  
  .span-2 {
    grid-column: span 2;
  }
  
  .btn {
    /* padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    font-size: 20px; 
    box-shadow: 2px 2px; */
  }
  
  .btn-white {
    background-color: var(--btn-white);
  }
  
  .btn-white:hover {
    background-color: var(--btn-white-hover);
  }

  .btn-grey:hover {
    background-color: var(--btn-grey-hover);
  }

  .btn-grey {
    background-color: var(--btn-grey);
  }
  
  .btn-grey:hover {
    background-color: var(--btn-grey-hover);
  }

  .btn-blue {
    background-color: var(--btn-blue);
  }
  
  .btn-blue:hover {
    background-color: var(--btn-blue-hover);
  }
  
  .btn-red {
    background-color: var(--btn-red);
  }
  
  .btn-red:hover {
    background-color: var(--btn-red-hover);
  }
  
  .btn-orange {
    background-color: var(--btn-orange);
  }
  
  .btn-orange:hover {
    background-color: var(--btn-orange-hover);
  }
  

  .btn3d {
    padding: 20px;
    border-radius: 5px;
    font-size: 20px; 
    box-shadow: 2px 2px;
    
    position: relative;
    top: -6px;
    border: 0;
    transition: all 40ms linear;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    
  }
  
  .btn3d:active,
  .btn3d.active {
    top: 2px;
  }
  
  .btn3d.btn-white {
    box-shadow: 0 0 0 1px #c4c2c2 inset, 0 0 0 2px rgba(255, 255, 255, 0.10) inset, 4px 4px 0 0 #9c9c9c, 0 8px 8px 1px rgba(0, 0, 0, .2);
    background-color: #f9f9f9;
  }
  
  .btn3d.btn-white:active,
  .btn3d.btn-white.active {
    box-shadow: 0 0 0 1px #c4c2c2 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, .1);
  }
  
  /* .btn3d.btn-primary {
    box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    background-color: #4274D7;
  }
  
  .btn3d.btn-primary:active,
  .btn3d.btn-primary.active {
    box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #4274D7;
  }
   */
  
  /* Disables input spinners in calc screen */
  /* input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } */
  
  /* FOOTER */
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color: var(--font);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }